/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* **
-- BotUI styling
** */
.botui-container,
.botui-messages-container {
    background: transparent;
}

.human.botui-message-content.text {
    background: #B1EDEB;
    color: #2C4D5C;
}

.botui-message-content {
    font-size: 16px;
    /*font-size: 1rem;*/
    /*font-family: 'Montserrat';*/
    background: #fff; /*rgb(48, 41, 58);*/
    color: #000; /*white;*/
}

/*            .botui-messages-container {
                max-height: 55vh;
                overflow-y: auto;
            }*/

.botui-actions-buttons-button {
    background-color: rgb(95, 175, 226);
    font-size: 21.599px;
    font-size: 1.2rem ;
    font-family: 'Montserrat';
    font-weight: bold;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out
}

/*.botui-actions-buttons-button:focus {
    color: rgb(95, 175, 226);
    background-color: white;
}*/

.botui-actions-buttons-button:not(:focus) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.botui-actions-text-input {
    border-radius: 4px !important;
    padding: 10px 20px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    border-width: 2px !important;
    border-style: solid !important;
    transition: box-shadow .25s,border-color .25s !important;
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(239, 0, 117) !important;
    color: #000;
}

.botui-actions-text-input:not(:focus) {
    font-style: italic;
}

.botui-action-text-icon {
    color: currentColor;
}

/* **
-- Global styling
** */
/*html {
    font-size: 18px;
}

body {
    margin: 0 auto;
    font-size: 18px;
    font-size: 1rem;
    font-family: 'Montserrat';
    background-color:  #FFFFFF;
    color: #FFFFFF;
}

header {
    text-align: center;
}

.logo-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: -30px 50px 0;
    font-style: italic;
}

.logo {
    max-width: 200px;
    height: auto;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="4.5" /><feFuncG type="linear" slope="4.5" /><feFuncB type="linear" slope="4.5" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: grayscale(1) brightness(450%);
    filter: grayscale(1) brightness(450%);
}

.bot-wrapper {
    margin: 0 25%;
}*/