/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html {
  height: 100%;
}
body {
  min-height: 100%;
  max-height: 100%;
    background: rgba(222,5,85,1);
    background: -moz-linear-gradient(-45deg, rgba(222,5,85,1) 0%, rgba(125,71,147,1) 50%, rgba(7,155,223,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(222,5,85,1)), color-stop(50%, rgba(125,71,147,1)), color-stop(100%, rgba(7,155,223,1)));
    background: -webkit-linear-gradient(-45deg, rgba(222,5,85,1) 0%, rgba(125,71,147,1) 50%, rgba(7,155,223,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(222,5,85,1) 0%, rgba(125,71,147,1) 50%, rgba(7,155,223,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(222,5,85,1) 0%, rgba(125,71,147,1) 50%, rgba(7,155,223,1) 100%);
    background: linear-gradient(135deg, rgba(222,5,85,1) 15%, rgba(125,71,147,1) 60%, rgba(7,155,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de0555', endColorstr='#079bdf', GradientType=1 );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: #056A99;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

#avatarImg {
    background: url('https://images.assets-landingi.com/1ZA3c9jzy8jBcgeP/logo_org.png') 12px 10px no-repeat white;
    width: 49px;
    height: 49px;
    padding: 10px;
    border-radius: 41%;
    box-shadow: 1px 1px 5px;
}