/*
Template Name: OBootstrap Classified | Bootstrap Responsive Website Template
Author: askbootstrap
Author URI: https://themeforest.net/user/askbootstrap
Version: 1.0
*/

/*
1. body 
2. Typography 
3. Navbar
4. Search Box
5. Categories List
6. Featured Products 
7. App Store
8. Login 
9. Inner Search Box
10. Breadcumb 
11. Categories Page Search
12. Categories Page Nav	
13. Categories grid Page
14. Single Ads
15. My Profile
16. Not Found
17. Pricing
18. Footer
19. Post Ad
20. Chat Btn
21. Back To Top
22. Chat Popup
23. Blog
24. Responsive Media 
*/

/* body */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

/* Chat Popup */

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .chat-popup .collapse.in {
    padding: 0 0 90px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .chat-popup .collapse {
    padding: 0px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-box {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 12px 12px 0 0;
	bottom: 0;
	overflow: hidden;
	position: fixed;
	right: 70px;
	width: 300px;
	z-index: 999999;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .round.hollow {
	margin: 40px 0 0;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .round.hollow a {
	border: 2px solid #ff6701;
	border-radius: 35px;
	color: #ff6701;
	font-size: 23px;
	padding: 10px 21px;
	text-decoration: none;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .round.hollow a:hover {
	border: 2px solid #000;
	border-radius: 35px;
	color: #000;
	font-size: 23px;
	padding: 10px 21px;
	text-decoration: none;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-box .popup-head {
	background-color: #fff;
	clear: both;
	color: #1f1f1f;
	display: inline-table;
	font-size: 17px;
	padding: 7px 10px;
	width: 100%;
	border-bottom: 1px solid #dddddd !important;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .bg_none i {
	background: #1f1f1f none repeat scroll 0 0;
	border-radius: 25px;
	color: #ffffff;
	font-size: 17px;
	height: 33px;
	line-height: 32px;
	width: 33px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .bg_none:hover i {
	background: #4611a7 none repeat scroll 0 0;
	color: #ffffff;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .bg_none {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-box .popup-head .popup-head-right {
	margin: 9px 20px 0;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-box .popup-messages {}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-head-left img {
	/*border: 2px solid #7b7b7b;*/
	border-radius: 50%;
	float: left;
	margin: 0px 10px 0 0;
	width: 44px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages-footer> textarea {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-bottom: 1px solid #dddddd !important;
	border-image: none;
	border-left: medium none;
	border-right: medium none;
	border-top: 1px solid #dddddd !important;
	box-shadow: none;
	height: 42px !important;
	margin: 0;
	padding: 7px 10px !important;
	width: 100% !important;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages-footer {
	background: #fff none repeat scroll 0 0;
	bottom: 0;
	position: absolute;
	width: 100%;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages-footer .btn-footer {
	overflow: hidden;
	padding: 7px 10px;
	width: 100%;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .simple_round {
	background: #d1d1d1 none repeat scroll 0 0;
	border-radius: 50%;
	color: #4b4b4b !important;
	height: 21px;
	padding: 0 0 0 1px;
	width: 21px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-box .popup-messages {
	height: 313px;
	overflow: auto;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .direct-chat-messages {
	overflow: auto;
	padding: 7px 10px;
	transform: translate(0px, 0px);
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .chat-box-single-line {
	border-bottom: 1px solid #a4c6b5;
	height: 12px;
	margin: 7px 0 20px;
	position: relative;
	text-align: center;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages abbr.timestamp {
	color: #7e7e7e;
	padding: 0 11px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-head-right .btn-group {
	display: inline-flex;
	margin: 0 3px 0 0;
	vertical-align: top !important;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .chat-header-button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #636364;
	border-radius: 50%;
	font-size: 14px;
	height: 30px;
	width: 30px;
	line-height: 30px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-head-right .btn-group .dropdown-menu {
	border: medium none;
	min-width: 122px;
	padding: 0;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-head-right .btn-group .dropdown-menu li a {
	color: #303030;
	font-size: 12px;
	padding: 3px 10px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages abbr.timestamp {
	background: #fff none repeat scroll 0 0;
	color: #7e7e7e;
	padding: 0 11px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .chat-box-single-line {
	border-bottom: 1px solid #e4e4e4;
	height: 12px;
	margin: 7px 0 20px;
	position: relative;
	text-align: center;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .direct-chat-messages {
	height: auto;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .direct-chat-text {
	background: #dfece7 none repeat scroll 0 0;
	border-radius: 2px;
	color: #1f2121;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .direct-chat-timestamp {
	opacity: 0.6;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .direct-chat-name {
	color: #4611a7;
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 0 49px !important;
	opacity: 0.9;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .direct-chat-info {
	display: block;
	font-size: 12px;
	margin-bottom: 0;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .big-round {
	margin: -9px 0 0 !important;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .direct-chat-img {
	background: #4611a7 none repeat scroll 0 0;
	border: 1px solid #4611a7;
	border-radius: 50%;
	float: left;
	height: 40px;
	margin: -25px 0 0;
	width: 40px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .direct-chat-reply-name {
	color: #1f1f1f;
	font-size: 15px;
	line-height: 0;
	margin: 0 0 0 10px;
	opacity: 0.9;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .direct-chat-img-reply-small {
	background: #4611a7 none repeat scroll 0 0;
	border: 1px solid #fff;
	border-radius: 50%;
	float: left;
	height: 20px;
	margin: 3px 8px 0;
	width: 20px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .direct-chat-msg {
	margin-bottom: 10px;
	position: relative;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .doted-border::after {
	background: transparent none repeat scroll 0 0 !important;
	border-right: 1px dotted #4611a7 !important;
	bottom: 0;
	content: "";
	display: inline;
	left: 17px;
	margin: 0;
	position: absolute;
	top: 0;
	width: 2px;
	z-index: -2;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .direct-chat-msg::after {
	background: #fff none repeat scroll 0 0;
	border-right: medium none;
	bottom: 0;
	content: "";
	display: inline;
	left: 17px;
	margin: 0;
	position: absolute;
	top: 0;
	width: 2px;
	z-index: -2;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .direct-chat-text::after, .direct-chat-text::before {
	border-color: transparent #dfece7 transparent transparent;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .direct-chat-text::after, .direct-chat-text::before {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: transparent #4611a7 transparent transparent;
	border-image: none;
	border-style: solid;
	border-width: medium;
	content: " ";
	height: 0;
	pointer-events: none;
	position: absolute;
	right: 100%;
	top: 15px;
	width: 0;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .direct-chat-text::after {
	border-width: 7px;
	margin-top: -5px;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-messages .direct-chat-text {
	background: #4611a7 none repeat scroll 0 0;
	border-radius: 12px;
	word-break: break-all;
	color: #fff;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .direct-chat-text {
	background: #d2d6de none repeat scroll 0 0;
	border-radius: 5px;
	color: #444;
	margin: 5px 0 0 50px;
	padding: 5px 10px;
	position: relative;
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-head-left small {
	display: list-item;
	font-size: 13px;
	line-height: 17px;
	font-weight: 600;
	color: #7e7e7e;
	list-style: outside none none;
}

@media (max-width: 768px) {
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .blog-article-box .panel-body {
		padding: 10px 20px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .blog-article-box .panel-body p {
		font-size: 16px;
		line-height: 28px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .blog-article-box .panel-heading {
		padding: 20px;
	}
}

/* Responsive Media */
@media screen and (max-width: 768px){
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .popup-box {
		right: 0;
		width: 100%;
		z-index: 2147483647;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .navbar-nav li a {
		padding: 8.5px 12px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .user-login {
		padding: 12px 0 18px;
		text-align: center;
		width: 100%;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .top-categories a {
		margin-bottom: 7px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .top-categories a {
	   
		display: inline-block;
		line-height: 16px;
		margin: 0 2px;
		padding: 6px 9px;
	   
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .carousel-section-header {
		display: inline-block;
		margin: 0 0 28px;
		text-align: center;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .carousel-section-header .btn {
		float: none !important;
		margin: 8px 0 0;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .error {
		font-size: 155px;
		line-height: 99px;
        }
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .error-page h2 {
		font-size: 30px;
		line-height: 65px;
		padding: 1px 30px;
        }
}

@media screen and (max-width: 768px) {
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .navbar-toggle {
		background-color: #272727;
		margin-right: 0;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .navbar-toggle .icon-bar {
		background: #fff none repeat scroll 0 0;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 section {
		padding: 17px 0;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .sub-title {
		display: none;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .intro-title {
		font-size: 22px;
		margin-bottom: 22px;
		line-height: 33px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .main-search-box .search-form {
		margin-bottom: 3px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .app-store-main {
		display: none;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .footer-widget {
		margin: 20px 0px;
		width: 100%;
		display: inline-block;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .top-categories a {
		margin-bottom: 3px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .page_title> h3 {
		font-size: 27px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .navbar .dropdown-menu {
		background-color: #4611A7 !important;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .navbar-collapse.in {
		overflow-y: visible;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .post-free-add-btn, #back-to-top {
		z-index: 2147483647;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .container {
		width: 100%;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .margin-bottom-none {
		margin-bottom: 27px !important;
	}
}

@media (min-width: 768px) and (max-width: 1100px) {
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .container {
		width: 100%;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .app-store-main {
		display: none;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .navbar-nav li a {
		padding: 20px 4px !important;
		text-transform: none !important;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .navbar-collapse {
		padding-right: 0;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .navbar-header.col-sm-2 {
		overflow: hidden;
		width: 41px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .navbar .dropdown-menu li a {
		padding: 5px 13px !important;
	   
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .navbar-brand {
		padding: 14px 0;
		width: 159px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .widget {
		border-radius: 6px;
		padding: 15px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .item-ads-grid .item-meta, .single-item-meta {
		padding: 15px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .listing-filter-block .widget-header {
		border-bottom: 1px solid #ececec;
		margin: 0 -15px 20px;
		padding: 0 16px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .item-title {
		padding: 100px 15px 18px;
	}
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .margin-bottom-none {
		margin-bottom: 27px !important;
	}
}

@media (min-width: 992px) {
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .container {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .container {
		width: 1170px;
	}
}

#widget-chatbot-accordion-da39a3ee5e6b4b0d3255bfef95601890afd80709 .messages-counter {
    background-color: #EB263A;
    color: #fff;
}